@import "../../node_modules/bootstrap/less/bootstrap.less";
@import (less) "../../node_modules/onepage-scroll/onepage-scroll.css";

@import "index.less";

@nice-green: #0F9D58;

#head {
  background: @nice-green;
  padding-top: 15px;
  .title {
    color: #FFF;
  }

  .forgot-password {
    margin-top: 10px;
    display: block;
  }

  .login {
    margin-top: 24px;
  }

  label {
    color: #FFF;
  }

  .tips {
    color: #9daccb;
  }
}


#main {
  background: #edf0f5;

  .item {
      margin: 10px 0;
  }

  .main-icon {
    font-size: 80px;
    margin-right: 0.2em;
    vertical-align: middle;
    color: @nice-green;
  }

  .free {
    margin-bottom: 10px;
  }

  .slogan {
    margin: 30px 0;
  }
}
