<%- include("layouts/header")%>

<div id="index-div">
  <section class="first-page">
    <div class="head">
      <h1>SSWW<span>特训营</span></h1>
    </div>
    <div class="content">
      <div class="statement container">
        <h2>编出你的精彩人生</h2>
        <h3>快来加入SSWW特训营 与其他的小伙伴一起成长 成为一名专业的WEB开发人员</h3>
        <a href="logon.html" class="btn btn-warning btn-lg">点此加入</a>
      </div>
    </div>
  </section>
  <section class="second-page">
    <div class="container">
      <div class="row">
        <h1 class="col-md-12 text-center">超过100名学生已经从特训营毕业，并且获得工作</h1>
        <h3 class="text-center">
          Dev Bootcamp is the first short-term, immersive bootcamp that transforms beginners into full-stack web developers in 19 weeks (9 weeks remote part-time + 9 weeks on-site full time + 1 week career prep).
        </h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1><i class="glyphicon glyphicon-tags"></i></h1>
          <h3>Build Web Development Skills</h4>
          <h5>
            Learn the fundamentals of Ruby, the Rails application framework, the ins and outs of JavaScript, plus HTML and CSS. Put it all together with pair programming, agile development, and test-driven methodology.
          </h5>
        </div>
        <div class="col-md-6">
          <h1><i class="glyphicon glyphicon-tags"></i></h1>
          <h3>Build Web Development Skills</h4>
          <h5>
            Learn the fundamentals of Ruby, the Rails application framework, the ins and outs of JavaScript, plus HTML and CSS. Put it all together with pair programming, agile development, and test-driven methodology.
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1><i class="glyphicon glyphicon-tags"></i></h1>
          <h3>Build Web Development Skills</h4>
          <h5>
            Learn the fundamentals of Ruby, the Rails application framework, the ins and outs of JavaScript, plus HTML and CSS. Put it all together with pair programming, agile development, and test-driven methodology.
          </h5>
        </div>
        <div class="col-md-6">
          <h2><i class="glyphicon glyphicon-tags"></i></h1>
          <h3>Build Web Development Skills</h4>
          <h5>
            Learn the fundamentals of Ruby, the Rails application framework, the ins and outs of JavaScript, plus HTML and CSS. Put it all together with pair programming, agile development, and test-driven methodology.
          </h5>
        </div>
      </div>
    </div>

  </section>
  <section>
    <h1>Third</h1>
  </section>
</div>

<script src="./public/scripts/index.js"></script>

<%- include("layouts/bottom")%>
