<%- include("layouts/header")%>

  <!-- head start-->
  <div id="head" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="title">SSWW学院考试中心</h1>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="exampleInputEmail1">账号</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="账号">
            <div class="checkbox">
              <label>
                <input type="checkbox"> <span class="tips">两周内免登陆</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="exampleInputEmail1">密码</label>
            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="密码">
            <a class="tips forgot-password" href="#">忘记密码</a>
          </div>
        </div>
        <div class="col-md-1">
          <button type="button" class="login btn btn-primary">登录</button>
        </div>
      </div>
    </div>
  </div>
  <!-- head end -->

  <!-- main area start -->
  <div id="main" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h3 class="slogan">接受不凡教育，成就人生巅峰</h3>
          <div class="item">
            <span class="main-icon glyphicon glyphicon-star" aria-hidden="true"></span>
            <label for="">先就业后交费</label>
          </div>
          <div class="item">
            <span class="main-icon glyphicon glyphicon-star" aria-hidden="true"></span>
            <label for="">先就业后交费</label>
          </div>
          <div class="item">
            <span class="main-icon glyphicon glyphicon-star" aria-hidden="true"></span>
            <label for="">先就业后交费</label>
          </div>
        </div>
        <div class="col-md-5">
          <h2>注册</h2>
          <div class="free">永久免费</div>
          <form class="form">
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
            <div class="form-group">
              <input placeholder="电子邮件" type="text" class="form-control" id="inputWarning1">
            </div>
            <div class="form-group">
              <input placeholder="手机号码" type="text" class="form-control" id="inputWarning1">
            </div>
            <div class="form-group">
              <input placeholder="验证码" type="text" class="form-control" id="inputWarning1">
            </div>
            <div class="form-group">
              <input placeholder="密码" type="text" class="form-control" id="inputWarning1">
            </div>
            <div class="form-group">
              <input placeholder="确认密码" type="text" class="form-control" id="inputWarning1">
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="radio" name="gender"> <span class="tips">男</span>
                </label>
                <label>
                  <input type="radio" name="gender"> <span class="tips">女</span>
                </label>
              </div>
            </div>
            <div class="form-group col-sm-6">
                <button type="button" class="login btn btn-primary btn-lg btn-block">注册</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- main area end -->

<script src="public/scripts/main.js"></script>

<%- include("layouts/bottom")%>
